* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Helvetica Neue', sans-serif;
}

body {
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          background: #000;
}

h2 {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          font-size: 1.4rem;
          transform: translateX(-50%);
}

h2 div {
          position: relative;
          height: 1.4rem;
          transform-style: preserve-3d;
          animation: rotate 3s infinite;
}

h2 span {
          width: 87px; /* With of biggest text element */
          height: 1.4rem;
          position: absolute;
          color: #CA3216;
          background: #000;
}

h2 span:nth-child(1) {
          transform: rotateX(0deg) translateZ(0.7rem);
}
h2 span:nth-child(2) {
          transform: rotateX(90deg) translateZ(0.7rem);
}
h2 span:nth-child(3) {
          transform: rotateX(180deg) translateZ(0.7rem);
}
h2 span:nth-child(4) {
          transform: rotateX(270deg) translateZ(0.7rem);
}

@keyframes rotate {
          0% {transform: rotateX(0deg);}
          25% {transform: rotateX(90deg);}
          50% {transform: rotateX(180deg);}
          75% {transform: rotateX(270deg);}
          100% {transform: rotateX(360deg);}
}