* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Helvetica Neue', sans-serif;
}

body {
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          background: #000;
}

h2 {
          display: flex;
          align-items: baseline;
          gap: 0.4rem;
          font-size: 1.4rem;
}

div {
          --rotation: 1.7rem;
          display: inline-block;
          height: 1.4rem;
          overflow: hidden;
          color: #CA3216;
}

span {
          display: block;
          animation: rotate 6s infinite;
}
@keyframes rotate {
          0%{ transform: translateY(0rem);}
          25%{ transform: translateY(calc(var(--rotation) * -1));}
          50%{ transform: translateY(calc(var(--rotation) * -2));}
          75%{ transform: translateY(calc(var(--rotation) * -3));}
          100%{ transform: translateY(calc(var(--rotation) * -1));}
}